---
title: "custom and lamda function"
author: "Aishwarya"
date: 2020-08-10
description: "-"
type: technical_note
draft: false
---

In [2]:
import pandas as pd

In [3]:
data = ['Vachitaya aapuuuuuuuuu','Sing in the rain' ,'Great power comes wih great responsibility']  
df = pd.DataFrame(data, columns = ['Sent'])
df

                                         Sent
0                      Vachitaya aapuuuuuuuuu
1                            Sing in the rain
2  Great power comes wih great responsibility

In [4]:
def sent_length(msg):
    
    return(len(msg))

In [5]:
df['len'] = df['Sent'].apply(sent_length)

# Lamda

In [7]:
df['msg_length'] = df['Sent'].apply(lambda x:len(x))
df.head()

                                         Sent  len  msg_length
0                      Vachitaya aapuuuuuuuuu   22          22
1                            Sing in the rain   16          16
2  Great power comes wih great responsibility   42          42