---
title: "Encoding"
author: "Aishwarya"
date: 2020-08-10
description: "-"
type: technical_note
draft: false
---

In [1]:
import pandas as pd

In [2]:
list1 = ['A','B','B','A','C']
df=pd.DataFrame(list1,columns={'Values'})
df

  Values
0      A
1      B
2      B
3      A
4      C

In [3]:
from sklearn import preprocessing
encode = preprocessing.LabelEncoder()
df['Encoded_Value'] = encode.fit_transform(df['Values'])
df

  Values  Encoded_Value
0      A              0
1      B              1
2      B              1
3      A              0
4      C              2