---
title: "Unique_elements"
author: "Aishwarya"
date: 2020-08-10
description: "-"
type: technical_note
draft: false
---

In [1]:
import pandas as pd

In [2]:
list1 = ['A','B','B','A','C']
df=pd.DataFrame(list1,columns={'Values'})
df

  Values
0      A
1      B
2      B
3      A
4      C

In [3]:
list(df['Values'].unique())

['A', 'B', 'C']